/Clase1/target/
/Practica Programada1/PracticaProgramada/target/
/Practica Programada1/PracticaProgramada1/target/
/Clase3/target/
/PracticaProgramada3/target/
/PracticaProgramada5/target/
/PracticaProgramada5-Segundo Intento/nbproject/private/
/PracticaProgramada5-Segundo Intento/build/
/Clase6/nbproject/private/
/Clase6/build/
/Clase6/dist/
/entrada-a-discoteca/build/
/entrada-a-discoteca/nbproject/private/
/p001.inventario/target/
/p002.inventario.gui/target/
/GUITest/target/
/EjercicioColegiadoSpotify/nbproject/private/
/EjercicioColegiadoSpotify/build/
/Evaluacion/target/
